// categories block
.content-top {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (max-width: 1240px) {
    flex-direction: column;

    .sort {
      margin-top: 30px;

      &__label {
        justify-content: end;
      }
    }
  }
}

.nav__panel {
  max-width: 830px;

  .types__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 970px) {
      max-width: 700px;
      overflow: auto;
    }
    @media screen and (max-width: 820px) {
      max-width: 500px;
      overflow: auto;
    }
    @media screen and (max-width: 570px) {
      max-width: 400px;
      overflow: auto;

        li{
          padding: 8px 15px;
        }
    }
    @media screen and (max-width: 470px) {
      max-width: 300px;
      overflow: auto;
    }
  }
  .active {
    background-color: #2c2c2c;
    color: #fff;
  }
  li {
    background-color: #f9f9f9;
    padding: 13px 30px;
    border-radius: 30px;
    margin-right: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .non-active:hover {
    transition: 0.3s;
    background-color: #e2e2e2;
  }
}

// sort block

.sort {
  position: relative;
  .sort__label {
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }
    b {
      margin-right: 8px;
    }
    span {
      color: #fe5f1e;
      border-bottom: 1px dashed #fe5f1e;
      cursor: pointer;
    }
  }
  .sort__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background: #ffffff;
    box-shadow: 0px 5px 15px rgb(0 0 0 / 9%);
    border-radius: 10px;
    overflow: hidden;
    padding: 10px 0;
    width: 160px;

    li {
      padding: 12px 20px;
      cursor: pointer;
    }
    .active {
      font-weight: bold;
      color: #fe5f1e;
      background-color: rgba(254, 95, 30, 0.05);
    }
  }
}

.main-content {
  margin-top: 32px;

  .choosen__category {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0.01em;
  }

  .cards {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 22px;
    grid-row-gap: 10px;

    .pizza-block__center {
      display: flex;
      justify-content: center;
    }
    @media screen and (max-width: 1390px) {
      grid-template-columns: repeat(3, 2fr);
    }
    @media screen and (max-width: 1040px) {
      grid-template-columns: repeat(2, 2fr);
    }
    @media screen and (max-width: 730px) {
      grid-template-columns: repeat(1, 2fr);
    }
  }
  .card {
    width: 280px;
    text-align: center;
    margin-bottom: 65px;

    &:hover {
      transition: 0.5s;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
    }

    .card__selector {
      display: flex;
      flex-direction: column;
      background-color: #f3f3f3;
      border-radius: 10px;
      padding: 6px;
      margin-top: 22px;

      .pizza__type {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        padding-left: 0px;
      }
      .active {
        background: #ffffff;
        box-shadow: 0px 2px 4px rgb(0 0 0 / 4%);
        border-radius: 5px;
        cursor: auto;
      }
      ul {
        display: flex;
        li {
          flex: 1;
          padding: 8px;
        }
      }
    }
  }
  .card__title {
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
  }

  .pizza__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .price {
      font-weight: bold;
      font-size: 22px;
      line-height: 27px;
      letter-spacing: 0.015em;
    }
    .btn-outline {
      background-color: #fff;
      border: 1px solid #fe5f1e;
      border-radius: 30px;
      padding: 10px 25px;
      cursor: pointer;
      position: relative;

      svg {
        position: absolute;
        top: 14px;
        left: 10px;
      }
      svg path {
        fill: #fe5f1e;
      }
      span {
        font-weight: 600;
        font-size: 16px;
        color: #fe5f1e;
      }
      i {
        display: inline-block;
        border-radius: 30px;
        background-color: #fe5f1e;
        color: #fff;
        font-weight: 700;
        width: 22px;
        height: 22px;
        font-style: normal;
        font-size: 13px;
        line-height: 22px;
        position: relative;
        top: 0px;
        left: 10px;
      }
    }
    .btn-outline:hover {
      background-color: #fe5f1e;
      transition: 0.5s;

      span {
        color: #fff;
      }
      i {
        background-color: #fff;
        color: #fe5f1e;
      }
    }
    .btn-outline:hover svg path {
      fill: #fff;
    }
  }
}
