.header {
  padding: 50px 0 35px;

  .flex__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo-block {
    display: flex;

    .logo__name {
      margin-left: 17px;
    }
    span {
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: 0.01em;
      text-transform: uppercase;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #7b7b7b;
    }
  }
  .trolley__btn {
    padding: 16px 23px;
    background: #fe5f1e;
    border-radius: 30px;
    border: none;
    color: #fff;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 15px;

    @media screen and (max-width:580px) {
      width: 150px;
      padding: 16px 0;
      text-align: center;

      .all_price{
        padding-right: 10px;
        padding-left: 20px;
      }
    }

    ::after {
      content: '';
      position: absolute;
      left: 50%;
      width: 1px;
      height: 25px;
      background-color: rgba(255, 255, 255, 0.25);
    }
    .all_price {
      margin-right: 13px;
      display: inline-block;
    }
    .trolley__img {
      display: flex;
      align-items: center;
      padding-left: 16px;

      .much {
        margin-top: 5px;
      }

      img {
        padding-right: 10px;
      }
    }
  }
  .input__search {
    width: 400px;
    input {
      border: 1px solid #a7a6a6;
      outline: none;
      padding: 8px 0 8px 30px;
      width: 250px;
      border-radius: 12px;
      font-size: 15px;
    }
  }
}
